<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesanan">
      <ion-icon name="file-tray"></ion-icon>
      <ion-label>Pesanan Aktif</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="riwayat">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>