<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary" class="toolbar-title-default md in-toolbar hydrated">
    <ion-title class="text-3xl pt-4">Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="absolute -z-1 bg-primary w-full" style=" width: 150%;height: 25vh; top: 0px; left: -25%; border-radius: 0px 0px 200px 200px;">
  </div>

  
  


  <div class="flex w-full justify-center" style="margin-top: 120px;">
    <div class="mb-4 bg-background rounded-lg drop-shadow-lg  w-full-80">

      <div class="relative flex justify-center items-center" style="margin-bottom: 80px;">
        <div class="absolute" style="transform: translateY(-0px); width: 110px; height:110px;">
          <img class="rounded-lg" src="assets/images/test.webp">
        </div>
      </div>
      
      <div class="text-center" style="margin-bottom: 30px ;">
        <div class="text-xl flex justify-center">
          <div class="text-warning">
            <ion-icon name="star-sharp"></ion-icon>
          </div>
          <div>4.9</div>
        </div>
        <div class="text-xl font-bold">Fernanda Reza Aditya</div>
        <div class="text-medium text-sm">Kota Malang, Kec. Lowokwaru</div>
        <div class="text-medium text-sm">098182736234</div>
      </div>

      <ion-accordion-group [multiple]="true" [value]="['detail','jam','ulasan']"> 
        <ion-accordion value="detail">
          <ion-item slot="header">
            <ion-label>Detail</ion-label>
          </ion-item>

          <ion-list slot="content">
            <div class="ion-padding">
              Menurut Anya, bisnis barbershop dan pangkas  rambut tradisional sesungguhnya tak jauh berbeda. Sebab sama-sama menawarkan jasa potong rambut. Hanya, fasilitas dan treatment-nya yang berlainan. Barbershop, merupakan salon  potong rambut di ruangan ber-AC dan menawarkan perawatan yang lebih lengkap
            </div>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="jam"> 
          <ion-item slot="header">
            <ion-label>Jam Kerja</ion-label>
          </ion-item>
          <ion-list slot="content">

            <div>
              <div class="flex ion-padding">
                <div class="text-warning">
                  <ion-icon name="cut-sharp"></ion-icon>
                </div>
                <div class="pl-4 flex-1">Senin</div>
                <div>09.00 - 21.00</div>
              </div>

              <hr class= "mt-1 mb-1" style="border-top:1px solid #999;">

              <div class="flex ion-padding">
                <div class="text-warning">
                  <ion-icon name="cut-sharp"></ion-icon>
                </div>
                <div class="pl-4 flex-1">Selasa</div>
                <div>09.00 - 21.00</div>
              </div>

              <hr class= "mt-1 mb-1" style="border-top:1px solid #999;">

              <div class="flex ion-padding">
                <div class="text-warning">
                  <ion-icon name="cut-sharp"></ion-icon>
                </div>
                <div class="pl-4 flex-1">Rabu</div>
                <div>09.00 - 21.00</div>
              </div>


              <hr class= "mt-1 mb-1" style="border-top:1px solid #999;">

              <div class="flex ion-padding">
                <div class="text-danger">
                  <ion-icon name="cut-sharp"></ion-icon>
                </div>
                <div class="pl-4 flex-1">Kamis</div>
                <div>09.00 - 21.00</div>
              </div>


              <hr class= "mt-1 mb-1" style="border-top:1px solid #999;">

              <div class="flex ion-padding">
                <div class="text-warning">
                  <ion-icon name="cut-sharp"></ion-icon>
                </div>
                <div class="pl-4 flex-1">Jum'at</div>
                <div>09.00 - 21.00</div>
              </div>


              <hr class= "mt-1 mb-1" style="border-top:1px solid #999;">

              <div class="flex ion-padding">
                <div class="text-warning">
                  <ion-icon name="cut-sharp"></ion-icon>
                </div>
                <div class="pl-4 flex-1">Sabtu</div>
                <div>09.00 - 21.00</div>
              </div>


              <hr class= "mt-1 mb-1" style="border-top:1px solid #999;">

              <div class="flex ion-padding">
                <div class="text-warning">
                  <ion-icon name="cut-sharp"></ion-icon>
                </div>
                <div class="pl-4 flex-1">Minggu</div>
                <div>09.00 - 21.00</div>
              </div>


              <hr class= "mt-1 mb-1" style="border-top:1px solid #999;">
            </div>
          </ion-list>
        </ion-accordion>

        <ion-accordion value="ulasan">
          <ion-item slot="header">
            <ion-label>Ulasan</ion-label>
          </ion-item>
          <ion-list slot="content">
            <div class="flex items-center justify-between ion-padding">
              <div class="flex items-center">
                <div class="text-2xl">4.9</div>
                <div class="flex mt-1 ml-1">
                  <div class="text-medium text-sm">Dari 5</div>
                </div>
              </div>
              <div>
                <div class="text-warning flex">
                  <div>
                    <ion-icon name="star-sharp"></ion-icon>
                  </div>
                  <div>
                    <ion-icon name="star-sharp"></ion-icon>
                  </div>
                  <div>
                    <ion-icon name="star-sharp"></ion-icon>
                  </div>
                  <div>
                    <ion-icon name="star-sharp"></ion-icon>
                  </div>
                  <div>
                    <ion-icon name="star-sharp"></ion-icon>
                  </div>
                </div>
                <div class="text-right">
                  23 Rating
                </div>
              </div>
              
            </div>
            <div class="ion-padding">
             <ion-textarea class="border border-light-shade rounded-lg" placeholder="Tulis Komentarmu" rows="3"></ion-textarea>
           </div>

           <div class="flex justify-end w-full mb-2">
            <ion-button class="text-sm p-1" shape="round">Kirim</ion-button>
          </div>

          <div class="mb-1 ion-padding">
            23 Komentar
          </div>

          <div class="ion-padding">
            <div class="flex border border-light-shade rounded-lg ion-padding">
              <div class="p-2" style="width: 70px; height: 70px;">
                <img class="rounded-full" src="assets/images/test.webp"></div>
                <div>
                  <div class="flex justify-between">
                    <div>
                      <div class="font-bold">Budhe</div>
                      <div class="flex text-warning">
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                      </div>
                    </div>
                    <div class="text-medium text-sm">22 Mar 2022</div>
                  </div>
                  <div>Pelayanannya sangat ramah, harga terjangkau</div>
                </div>
              </div>
            </div> 

            <div class="ion-padding">
            <div class="flex border border-light-shade rounded-lg ion-padding">
              <div class="p-2" style="width: 70px; height: 70px;">
                <img class="rounded-full" src="assets/images/test.webp"></div>
                <div>
                  <div class="flex justify-between">
                    <div>
                      <div class="font-bold">Budhe</div>
                      <div class="flex text-warning">
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                      </div>
                    </div>
                    <div class="text-medium text-sm">22 Mar 2022</div>
                  </div>
                  <div>Pelayanannya sangat ramah, harga terjangkau</div>
                </div>
              </div>
            </div> 

            <div class="ion-padding">
            <div class="flex border border-light-shade rounded-lg ion-padding">
              <div class="p-2" style="width: 70px; height: 70px;">
                <img class="rounded-full" src="assets/images/test.webp"></div>
                <div>
                  <div class="flex justify-between">
                    <div>
                      <div class="font-bold">Budhe</div>
                      <div class="flex text-warning">
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                        <div>
                          <ion-icon name="star-sharp"></ion-icon>
                        </div>
                      </div>
                    </div>
                    <div class="text-medium text-sm">22 Mar 2022</div>
                  </div>
                  <div>Pelayanannya sangat ramah, harga terjangkau</div>
                </div>
              </div>
            </div> 



          </ion-list>
        </ion-accordion>

      </ion-accordion-group> 

    </div>
  </div>


</ion-content>

<ion-toolbar >
<div class="ion-padding" routerLink="/pesan-sekarang"> 
<ion-button class="w-full" color="warning">Pesan Sekarang</ion-button>
</div> 
</ion-toolbar>
