<ion-header class="ion-no-border drop-shadow-md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="-mr-4">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-bold">Detail Pemesanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding bg-primary" style="min-height: 100%;">
    <div #screen id="order" *ngIf="order.barber && order.user"
      class="mb-4 bg-background rounded-lg drop-shadow-lg ion-padding ion-no-margin">
      <div class="ion-margin-bottom ion-text-center">
        <small class="text-sm">Kode Pemesanan</small>
        <div class="font-bold ion-text-uppercase">{{order.id || '-'}}</div>
      </div>
      <hr class="mt-4 bg-light">
      <div class="flex items-center gap-3">
        <div class="font-bold flex-1">Kota Malang</div>
        <div class="text-medium">{{order.orderAt | date:'dd MMM YYYY'}}</div>
      </div>
      <hr class="mb-4 bg-light">
      <div>
        <small class="text-medium">Nama Barber</small>
        <div class="text-xl font-bold ion-text-capitalize">{{order.barber.name || '-'}}</div>
        <div class="text-medium">{{order.barber.address || '-'}}</div>
        <div class="text-medium">{{order.barber.phoneNumber || '-'}}</div>
      </div>

      <hr class="mt-4 mb-4 bg-light">

      <div>
        <small class="text-medium">Pemesan</small>
        <div class="text-xl font-bold">{{order.user.name || '-'}}</div>
        <div class="text-medium">{{order.user.address || '-'}}</div>
        <div class="text-medium">{{order.user.phoneNumber || '-'}}</div>
      </div>

      <hr class="mt-4 mb-4 bg-light">
      <div>
        <div class="font-bold mb-1">Detail Harga</div>
        <div class="text-medium text-sm flex justify-between">
          <div>Jasa Cukur Rambut</div>
          <div>Rp. {{order.price | number:'2.0'}},-</div>
        </div>
        <div class="text-medium text-sm flex justify-between">
          <div>Transport</div>
          <div> Rp. 5.000,-</div>
        </div>
        <div class="text-medium text-sm flex justify-between">
          <div>Jumlah Pemesanan</div>
          <div>{{order.amount || 1}}x</div>
        </div>
        <hr class="mt-4 mb-4 bg-light">
        <div class="font-bold flex justify-between">
          <div>Total Harga</div>
          <div><b>Rp. {{(order.price * order.amount) + 5000 | number:'2.0'}},-</b></div>
        </div>
      </div>
    </div>
    <ion-button *ngIf="order.barber && order.user" mode="ios" color="warning"
      class="ion-no-margin w-full ion-margin-top" (click)="exportOrder()"><b>Export Detail Pemesanan</b></ion-button>
    <!-- <ion-button color="primary">Chat Tukang Cukur</ion-button> -->
    <!-- <ion-button routerLink="/" class="flex justify-center" color="warning">Tutup</ion-button> -->
  </div>


  <div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>
</ion-content>